* {

  font-family: monospace;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
}

#page-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

#container {
  width: 40%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  background-color: coral;
}

#title {
  text-align: center;
  background-color: brown;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#arrow-area {
  display: flex;
  flex-direction: row;

}

.arrow {
  background-color: brown;
  width: 100%;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#solution-button-area {
  display: flex;
  flex-direction: row;
}

.solution-button {
  background-color: brown;
  width: 100%;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#select-level-button-area {
  display: flex;
  flex-direction: row;
}

#select-level-button {
  background-color: brown;
  width: 100%;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-board {
  text-align: center;
  margin-bottom: 1rem;
}

#level-completed-area {
  background-color: darkgreen;
  text-align: center;
  margin: 1px;
  
}

#loading-prompt {
  background-color: darkgoldenrod;
  text-align: center;
  margin: 1px;
  
}

#reset-area {
  background-color: crimson;
  text-align: center;
  margin: 1px;
  
}

